#sidebar-container {
   min-height: 60vh;
   width: 9rem;
   
}

.text-css{
   font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.list-unstyled {
   margin-left: 8%;
}